<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	
	<!-- 配置单机版solrService 的连接 -->
	<bean id="solrService" class="org.apache.solr.client.solrj.impl.HttpSolrServer">
		<constructor-arg name="baseURL" value="http://120.79.130.20:8082/solr/Order"/>
	</bean>

	<!-- 配置集群版 -->
	<!-- 集群版solr连接 -->
	<!--<bean id="cloudSolrServer" class="org.apache.solr.client.solrj.impl.CloudSolrServer">
		<constructor-arg name="zkHost" value="192.168.190.129:2281,192.168.190.129:2282,192.168.190.129:2283"></constructor-arg>
		<property name="defaultCollection" value="collection2"/>
	</bean>-->


</beans>